//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tvp {
            timeout-ms = <100>;
            key-positions = <11 12 13>;
            bindings = <&to_0_layer>;
        };

        cmb-tab {
            bindings = <&kp TAB>;
            key-positions = <20 10>;
        };

        cmb_- {
            bindings = <&kp MINUS>;
            key-positions = <8 9>;
        };
    };

    macros {
        to_0_layer: to_0_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(F13) &to 0>;
        };

        to_1_layer: to_1_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(F14) &to 1>;
        };

        to_2_layer: to_2_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(F15) &to 2>;
        };

        to_3_layer: to_3_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(F16) &to 3>;
        };

        to_4_layer: to_4_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(F17) &to 4>;
        };

        to_5_layer: to_5_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(F18) &to 5>;
        };

        to_6_layer: to_6_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(F19) &to 0>;
        };

        to_7_layer: to_7_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F20 &to 0>;
        };

        to_8_layer: to_8_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F21 &to 0>;
        };

        to_9_layer: to_9_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F22 &to 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
             &lt 8 Q     &kp W       &kp E        &kp R        &kp T        &kp Y      &kp U        &kp I        &mt LEFT_BRACKET O  &mt RIGHT_BRACKET P
             &mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &kp G        &kp H      &mt RSHFT J  &mt RCTRL K  &mt RALT L          &mt RGUI SEMI
&lt 9 GRAVE  &lt 7 Z     &kp X       &kp C        &kp V        &kp B        &kp N      &kp M        &kp COMMA    &kp DOT             &lt 5 SLASH          &mt SINGLE_QUOTE BACKSLASH
                                     &kp DEL      &mo 6        &kp SPACE    &kp ENTER  &mo 10       &kp BSPC
            >;
        };

        hollow_knight {
            bindings = <
        &trans  &kp TAB  &kp A   &kp S   &kp D     &trans  &trans          &kp UP_ARROW  &trans     &trans
        &trans  &kp F    &kp Z   &kp X   &kp C     &trans  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans
&trans  &trans  &trans   &trans  &trans  &kp I     &trans  &trans          &trans        &trans     &trans  &trans
                         &trans  &trans  &trans    &trans  &to_0_layer     &trans
            >;

            label = "HK";
        };

        clear {
            label = "CLEAR";
            bindings = <
             &kp Q    &kp W  &kp E    &kp R        &kp T        &kp Y      &kp U        &kp I      &mt LEFT_BRACKET O  &mt RIGHT_BRACKET P
             &kp A    &kp S  &kp D    &kp F        &kp G        &kp H      &kp J        &kp K      &kp L               &kp SEMICOLON
&lt 9 GRAVE  &lt 7 Z  &kp X  &kp C    &kp V        &kp B        &kp N      &kp M        &kp COMMA  &kp DOT             &lt 5 SLASH          &mt SINGLE_QUOTE BACKSLASH
                             &kp DEL  &lt 6 LC(Z)  &kp SPACE    &kp ENTER  &to_0_layer  &kp BSPC
            >;
        };

        gzdoom {
            bindings = <
        &mt NUMBER_6 NUMBER_1  &mt NUMBER_7 NUMBER_2  &mt NUMBER_8 NUMBER_3  &mt NUMBER_9 NUMBER_4  &mt NUMBER_0 NUMBER_5    &trans  &trans       &trans  &trans  &trans
        &kp LCTRL              &kp Q                  &kp W                  &kp R                  &kp LEFT_BRACKET         &trans  &trans       &trans  &trans  &trans
&trans  &kp LSHIFT             &kp A                  &kp S                  &kp D                  &kp RIGHT_BRACKET        &trans  &trans       &trans  &trans  &trans  &trans
                                                      &kp ENTER              &kp V                  &kp E                    &trans  &to_0_layer  &trans
            >;

            label = "GZD";
        };

        adjust_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "ADJ";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃   RESET   ┃ BT CLEAR  ┃  OUT TOG  ┃           ┃           ┃   ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ BOOTLOAD  ┃ BT NEXT   ┃           ┃           ┃           ┃   ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃ BT PREV   ┃           ┃           ┃           ┃   ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &trans  &trans  &trans  &trans  &bootloader    &trans  &trans       &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &sys_reset     &trans  &trans       &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans         &trans  &trans       &trans  &trans  &trans  &trans
                        &trans  &trans  &trans         &trans  &to_0_layer  &trans
            >;
        };

        mouse_layer {
            bindings = <
        &trans                 &kp LG(A)       &mmv MOVE_UP    &kp LG(LS(A))    &msc SCRL_UP       &kp INSERT  &kp HOME     &kp PG_UP  &kp PSCRN    &kp SCROLLLOCK
        &kp LEFT_GUI           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN     &kp DEL     &kp END      &kp PG_DN  &kp C_PAUSE  &kp CLCK
&trans  &kp C_AL_TASK_MANAGER  &kp C_AC_HOME   &kp C_AC_BACK   &msc SCRL_LEFT   &msc SCRL_RIGHT    &trans      &trans       &trans     &trans       &trans          &kp KP_NUMLOCK
                                               &mkp MB3        &mkp MB2         &mkp MB1           &trans      &to_0_layer  &trans
            >;

            label = "MOU";
        };

        additional_numeric {
            bindings = <
         &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6     &kp N7     &kp N8   &kp N9   &kp N0
         &trans  &trans  &trans  &trans  &kp F6    &kp F7     &trans     &trans   &trans   &trans
&kp TAB  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F8     &kp F9     &kp F10  &kp F11  &kp F12  &trans
                         &trans  &trans  &trans    &kp MINUS  &kp EQUAL  &trans
            >;

            label = "ADD_NUM";
        };

        misc {
            bindings = <
        &trans  &trans  &trans  &kp C_AC_ZOOM_OUT  &kp C_AC_ZOOM_IN    &kp C_VOL_DN          &kp C_VOL_UP  &kp C_MUTE        &kp PRINTSCREEN  &trans
        &trans  &trans  &trans  &trans             &trans              &kp C_PREV            &kp C_NEXT    &kp C_PLAY_PAUSE  &trans           &trans
&trans  &trans  &trans  &trans  &trans             &trans              &kp C_BRIGHTNESS_DEC  &kp C_BRI_UP  &trans            &trans           &trans  &trans
                        &trans  &trans             &trans              &trans                &trans        &trans
            >;

            label = "MISC";
        };

        numpad {
            label = "NUMP";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_N7  &kp KP_N8        &kp KP_N9  &kp KP_PLUS
        &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_N4  &kp KP_N5        &kp KP_N6  &kp KP_MINUS
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_N1  &kp KP_N2        &kp KP_N3  &kp KP_MULTIPLY  &kp SEMI
                        &trans  &trans  &trans    &trans  &trans     &kp KP_NUMBER_0
            >;
        };

        arrows_bt_profiles {
            bindings = <
        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp PG_UP  &trans    &kp UP_ARROW  &trans     &trans
        &trans        &trans        &trans        &trans        &trans          &kp PG_DN  &kp LEFT  &kp DOWN      &kp RIGHT  &trans
&trans  &trans        &trans        &trans        &trans        &trans          &trans     &trans    &trans        &trans     &trans  &bt BT_CLR
                                    &trans        &trans        &trans          &trans     &trans    &trans
            >;

            label = "ARR_BT";
        };

        layers_layer {
            bindings = <
        &to_1_layer  &to_2_layer  &to_3_layer  &to_4_layer  &to_5_layer    &trans  &trans  &trans  &trans  &trans
        &trans       &trans       &trans       &trans       &trans         &trans  &trans  &trans  &trans  &trans
&trans  &trans       &trans       &trans       &trans       &trans         &trans  &trans  &trans  &trans  &trans  &trans
                                  &trans       &trans       &trans         &trans  &trans  &trans
            >;

            label = "LL";
        };
    };
};
